$primaryColor: #EDCDCE;

$lightPink: #f6e8e8;
$darkPink: #e2a5ad;

$secondColor: #B5C7C9;
$defaultFontColor: #333333;

$ivoryWhite: #fffbf0;
$lightgrey: #cccccc;
$pureGrey: #eeeeee;

$successColor: #679b07;
$dangerColor: #fa0303;
$warningColor: #e28205;
$defaultFontColor: #333333;

$subColor: #1e1b1f;
$green: #29747b;

$borderColor: $primaryColor;
$ivoryWhite: #fffbf0;

$defaultWhite: #ffffff;

@mixin border-radius {
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
