/* You can add global styles to this file, and also import other style files */
@import "assets/font/iconfont/iconfont.css";
@import "assets/css/variable.scss";

html {
  font-size: 10px;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  font: normal 100% Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  color: $defaultFontColor;

  * {
    margin: 0;
    padding: 0;
  }

  ul,
  li {
    list-style: none;
  }

  a {
    color: $primaryColor;
    text-decoration: none;
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

.clearfix {
  zoom: 1;
}

button[type="button"] {
  border-radius: 5px;
  outline: none;
}

.btn {
  padding: 5px 10px;
  border-width: 1px;
  border-style: solid;
  color: $defaultWhite;
}

.btn-primary {
  background-color: $primaryColor;
}

.btn-default {
  background-color: $defaultWhite;
}

.btn-success {
  background-color: $successColor;
}

.btn-wraning {
  background-color: $warningColor;
}

.btn-danger {
  background-color: $dangerColor;
}

.btn-group {
  button {
    display: inline-block;
  }
}

.full-wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
