@primaryColor: #EDCDCE;
@lightPink: #f6e8e8;
@darkPink: #e2a5ad;

@secondColor: #B5C7C9;
@defaultFontColor: #333333;

@ivoryWhite: #fffbf0;
@lightgrey: #cccccc;


@successColor: #679b07;
@dangerColor: #fa0303;
@warningColor: #e28205;
@defaultFontColor: #333333;
@defaultWhite: #ffffff;

@padding: 1rem;
@margin: 1rem;

.border-radius {
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
}

.border {
  border-style: solid;
  border-width: 1px;
  border-color: @primaryColor;
}

.linearBackground {
  background: linear-gradient(45deg, @primaryColor, @secondColor);
}

.linearBackgroundLight {
  background: linear-gradient(@ivoryWhite, @successColor);
}
