/** color **/
$theme-color: #67ABD6;
$auxiliary-color: #92C8E0;
$light-blue: #C4DAE6;
$white: #ffffff;

$deep-red: #e2a5ad;
$light-red: #edcdce;
$light-grey: #f6f6f6;
$medium-grey: #dddddd;
$deep-grey: #b6b6b6;
$deeper-grey: #a0a0a0;
$deep-dark: #333333;
$light-brown: #c9c0b5;

$deep-blue: #293844;
$medium-blue: #1b6799;

$warning-color: #ee7b00;
$error-color: #fc0227;
$success-color: #009e3a;

/** color **/

/** block **/
$basic-border: 1px solid $medium-grey;
$blue-border: 1px solid $medium-blue;
$basic-radius: 5px;

@mixin card {
  position: relative;
  border: $basic-border;
  border-radius: $basic-radius;
  -moz-border-radius: $basic-radius;
  -webkit-border-radius: $basic-radius;
  background-color: $white;
  .card-header {
    position: relative;
    padding: 0.5rem 2rem;
    border-bottom: $basic-border;

    &:hover:before {
      content: '';
      position: absolute;
      width: 0.8rem;
      height: 0.8rem;
      background-color: $theme-color;
    }
  }
  .card-content {
    position: relative;
    padding: 1rem;
  }
}

/** block **/

/* link */
@mixin link-colors($normal,$hover:$normal,$visited:$normal) {
  color: $normal;
  &:hover {
    color: $hover;
  }
  &:visited {
    color: $visited;
  }
}

/* link */

