ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  display: inline-grid;
}

.login-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.form-container {
  .form-item {
    .item-content {
    }
  }
}
