@import url('./variable.less');
html {
  font-size: 10px;
}

* {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  li {
    display: inline-grid;
    list-style: none;
  }
}

a {
  cursor: pointer;
}

button {
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 0.5rem;
  border: 1px solid @light-grey;
  cursor: pointer;
}
.btn {
  font-size: 1rem;
}
.btn-default {
  border-color: @light-grey;
}
.btn-primary {
  border-color: @theme-color;
}
.btn-danger {
  // border-color: @danger-color;
}
.btn-sm {
  padding: 0.25rem 1rem;
}
.btn-block {
  width: 100%;
  display: block;
}
.fl {
  float: left;
}
.fr {
  float: right;
}

.clearfix {
  display: block;
  zoom: 1;

  &:after {
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.form-container {
  .form-item {
    .item-content {
      text-align: left;
    }
  }
}

.login-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
