@theme-color: #0582e9;
@sub-color: #590ac2;

@default-font: #333333;
@light-grey: #eeeeee;
@opposite-font: #ffffff;

@warning-color: rgb(241, 166, 3);
@danger-color:rgb (255, 1, 65);
@success-color: #006e37;
